{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            </br>
            <div class="card mb-3">
                {%if validlink %}
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success shadow my-4">Enviar</button>
                    </form>
                </div>
                {%else%}
                <div class="card-body">
                    <h1>Link invalido</h1>
                </div>
                {%endif%}
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}