{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            </br>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-header"><h2>Redefinição de senha enviada</h2></div>
                    <div class="card-body">
                        <p class="card-text">Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email
                            fornecido. Você receberá a mensagem em breve.</p>
                        <p class="card-text">Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está
                            cadastrado, e verifique sua pasta de spam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}