{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            </br>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-header"><h2>Redefinição de senha completa</h2></div>
                    <div class="card-body">
                        <p class="card-text">Sua senha foi alterada com sucesso.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}