{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <h1 class="text-center">Lista de Artistas</h1>
            </br>
            {% if artist_list %}
            {% for artist in artist_list%}
            <a href="{% url 'artist_edit' pk=artist.pk %}" style="text-decoration: none; color: inherit;">  
                <div class="card border-light text-center">
                    <div class="card-header"><h1>{{artist.name}}</h1></div>
                    <a class="btn btn-default btn-danger" href="{% url 'artist_remove' pk=artist.pk %}"><span
                        class="material-icons">delete</span></a>
                </div>
            </a>
            </br>
            {% endfor %}
            {% else %}
            <p>Não há artistas disponiveis</p>
            {% endif %}
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}