{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <h1 class="text-center">Lista de Mangas</h1>
            </br>
            {% if manga_list %}
            {% for manga in manga_list%}
            <a href="{% url 'manga_detail' pk=manga.pk %}" style="text-decoration: none; color: inherit;">
                <div class="card border-light text-center">
                    <div class="card-header"><h2>{{manga.title}}</h2></div>
                    <div class="card-body">
                        <h4 class="card-title">{{manga.author}}</h4>
                        <h4 class="card-title">{{manga.artist}}</h4>
                        <p class="card-text">{{manga.description}}</p>
                    </div>
                </div>
            </a>
            </br>
            {% endfor %}
            {% else %}
            <p class="text-center">Não há mangas disponiveis</p>
            {% endif %}
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}
